<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}title{% endblock %}</title>
  </head>
  <body>
    {% block body %}
    {% endblock %}
    <script src="dist/app.js"></script>
  </body>
</html>